# Core dependencies
streamlit
# pytesseract
pdf2image
Pillow
langchain
langgraph
faiss-cpu
sentence-transformers
langchain-community
ollama
tqdm
paddle-ocr
paddlepaddle

# Optional for fuzzy search
fuzzywuzzy